* {
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-decoration: none;
    font-family: Helvetica;
    box-sizing: border-box;
    overflow: hidden;
}

body {

    width: 100vw;
    height: 100vh;
}

/* MENU E OUTRAS COISAS DA PARTE SUPERIOR DO SITE */

.menu {
    animation: entrada1 350ms ease-in-out;
    width: 100%;
}

.menu>.slogan-menu {
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: orange;

}

.menu>.slogan-menu>h4 {
    color: white;
    font-family: 'Lucida Sans';
    font-weight: lighter;
    letter-spacing: 3px;
}

.menu>.submenu {
    width: 100%;
    padding: 15px;
    background-color: black;
}

/*
header {
    width: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
} */



/* PARTE PRINCIPAL DE ENTRADA DO SITE*/
.imagem {
    box-shadow: inset 1px 1px 10px 5px   black;
    width: 100vw;
    height: 300px;
    border: solid 1px;
    display: table-cell;
    animation: alterar 16s infinite ease;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-image: url("img/imagem1.jfif"); */



}

.img1{
    background-position: 0px -300px;
    background-image: url("assets/img/restaurantefoto2/fotofundo3.jpeg");
}


.img2{
    background-image: url("assets/img/restaurantefoto1/fotofundo2.jpeg");
}


.img3{
    background-position: 0px -400px;
    background-image: url("assets/img/restaurantefoto1/fotofundo1.jpeg");
}

@font-face {
    font-family: Antara_Distance;
    src: url(assets/aAntaraDistance.otf);
}

.titulo{
    opacity: 0.7;
    filter:  blur(0.70px);
    text-shadow: 2px 2px 6px  black;
    font-size: 66px; 
    font-family: Antara_Distance;
    
    color: white;
    display: flex;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 300px;
    justify-content: center;
    align-items: center;
}

.principal {

    animation: entrada1 400ms ease;
    width: 500%;
    height: 300px;
    display: flex;

}

.container {

    width: 500%;
    height: 300px;
    display: flex;
}

/* PARTE DE AVALIACAO DO GOOGLE */
#review-head{
    height: 100px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#review-head > img{
    margin-right: 15px;
    width: 40px;
    height: 40px;
}

.cards-review{
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Lucida Sans';
    font-weight: lighter;
    display: grid;
    width: 300px;
    height: 150px;
    border-radius:10px ;
    box-shadow: 0px 0px 10px 2px black;
    margin-right: 50px;
    margin-left:  50px;
    position: relative;
}
 
.cards-review > p{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.cards-review > img{
    top: -20px;
    width: 100%;
    position: relative;
    height: 30px;
    justify-content: center;
    display: flex;
}

.review-body{
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    width: 100%;
    padding: 20px;
    height:200px;
    font-weight: lighter;
}

.review-google{
    display:table-cell;
    animation: entrada1 350ms ease-in;
    width: 100%;
    height: 600px;

}


/* ANIMACAO DE ENTRADA DO SITE */
@keyframes entrada1 {
    0% {
        transform: translateY(90px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}


@keyframes alterar {
    25% {
        transform: translateX(0);
    }

    30% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(-100%);
    }

    55% {
        transform: translateX(-200%);
    }

    75% {
        transform: translateX(-200%);
    }

    80% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(0);
    }
}

@media screen and (min-width: 768px){
    .principal{
        height: 400px;
    }
    .imagem{
         height: 400px;
    }
    .container{
        height: 400px;
    }
    .titulo{
        height: 400px;
        font-size: 120px; 

    }
}